<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.openyolo.api">

    <application>
        <activity
            android:name=".ui.ProviderPickerActivity"
            android:label="@string/provider_picker_activity_label"
            android:theme="@style/PickerTheme"
            android:exported="false" />
    </application>
</manifest>
